<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.views">
      <category
            name="InterestView"
            id="CodePredict">
      </category>
      <view
            id="edu.zju.icsoft.taskcontext.view.InterestCodeView"
            name="Task Context"
            icon="icons/task.png"
            class="edu.zju.icsoft.taskcontext.view.InterestCodeView"
            category="CodePredict"
            inject="true">
      </view>
      <view
            id="edu.zju.icsoft.taskcontext.view.PredictCodeView"
            name="Suggestions"
            icon="icons/suggest.png"
            class="edu.zju.icsoft.taskcontext.view.PredictCodeView"
            category="CodePredict"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="edu.zju.icsoft.taskcontext.view.InterestCodeView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
	<extension
       point="org.eclipse.ui.commands">
    <command
          id="interestCode"
          name="%Interest-Code">
    </command>
 </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.zju.icsoft.taskcontext.Handler"
            commandId="interestCode">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.eclipse.jdt.ui.refactoring.menu">
         <command commandId="interestCode">
            <visibleWhen
                  checkEnabled="true">
               <or>
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IField">
                     </instanceof>
                  </iterate>
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IType">
                     </instanceof>
                  </iterate>
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                  </iterate>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
